/* REGOLE GENERALI */
body{
    margin: 0;
}

/* INTESTAZIONE */
header{
    height: 170px;
    background-color: #1E90FF;
    background-image: url(../img/pattern.png);
    position: relative;
}

.logo{
    height: 110px;
    position: absolute;
    left: 0;
    bottom: 10px; 
}

/* SEZIONE TITOLO */
h1{
    font-size: 3rem;
    margin: 5px 0 0 0;
}

/* LINK ARTICOLO */
a{
    text-decoration: none;
}