/* REGOLE GENERALI */
body{
    margin: 0;
}

/* INTESTAZIONE */
header{
    height: 170px;
    background-color: #1E90FF;
    background-image: url(../img/pattern.png);
    position: relative;
}

.logo{
    height: 110px;
    position: absolute;
    left: 0;
    bottom: 10px; 
}

/* SEZIONE TITOLO */
h1{
    font-size: 3rem;
    margin: 5px 0 0 0;
}

article{
    color: grey;
}

/* LINK ARTICOLO */
a{
    text-decoration: none;
}

.smaller{
    font-size: smaller;
}

/* FOTO E DESCRIZIONE */
.descrizione{
    margin: 0
;
}

/* EVIDENZAITORE */
.evidenziatore{
    background-color: yellow;
}

/* TABELLA */
thead{
    background-color: #1E90FF;
}

th{
    color: white;
    font-weight: bold;
    width: 30%;
}

td{
    background-color: lightblue;
}

.puro{
    background-color: white;
}

