/* REGOLE GENERALI */
body{
    margin: 0;
}

/* INTESTAZIONE */
header{
    height: 150px;
    background-color: #1E90FF;
    background-image: url(../img/pattern.png);
    position: relative;
}

.logo{
    height: 100px;
    position: absolute;
    left: 0;
    bottom: 0; 
}